body{
    margin: 0px;
    background-color: #292929;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    width: 100%;
    background-image: url('../assets/patterns/pattern1.png');
}

a {
    font-size: 14px;
    color: #FF7F06;
    text-decoration: none;
}

img{
    width: 100%;
}

section{
    position: relative;
}

section svg {
    position: absolute;
    left: 0;
    top: 0;
}

section .content{
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;
}

section .top-clip {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

section {
    /*background-size: 100% auto;*/
}

section #pattern_top {
    fill: transparent;
}

section #pattern_bottom {
    fill: transparent;
}

.pattern-prev-clip,.pattern-bottom-clip{
    /*background-size: 100% auto;*/
}

/* Abdul Style =======================>>> */
/* PUSH MENU */

#main-menu::-webkit-scrollbar {
    display: none;
}

#main-menu {
    /* border: 1px solid indianred; */
    /* left: -250px; */
    transform: translateX(-250px);
    position: sticky;
    top: 0px;
    overflow: scroll;
    width: 250px;
    height: 0;
    padding: 50px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-menu);
    /* z-index: 99999; */
    opacity: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

hr {
    border: none;
    height: 1px;
    background: #3e4145;
    margin: 20px 0px;
}

#main-menu ul {
    list-style: none;
    /* overflow: scroll; */
}

#main-menu ul::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

#main-menu ul {
    /* -ms-overflow-style: none; */
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
}

#main-menu ul li a {
    display: block;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 0.9em;
    /* border-top: 1px solid #eee; */
}

#main-menu ul li a:hover {
    text-decoration: underline;
}

.main-menu-container {
    /* position: relative; */
    height: 100vh;
}

body.open #main-menu {
    height: 100%;
}

body.open .main-menu-container {
    width: 250px;
    z-index: 999999;
    /* background: indianred; */
}

body.open #main-menu {
    transform: translateX(0px);
    opacity: 1;
}


/* MAIN PAGE */

/*.page-wrap {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: relative;
}*/

/* MENU TOGGLE ICON */

.menu-button-container {
    position: absolute;
    top: 70px;
    left: 0px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

body.open .menu-button-container {
    margin-left: 250px;
}

button:focus {
    outline: none;
}

#menu-toggle {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px 15px 15px 0px;
}

.social-icon {
    width: 24px;
    margin: 0px 6px;
}

.social-icon:hover {
    filter: brightness(130%);
}

/*End Abdul Style ========================<<< */

/*Sub Menu style*/

.menu > li{
    padding: 0 10px
}

.menu > li:hover{
    background: rgba(255,255,255,0.1) !important;
}

.menu-dropdown{
    display: flex;
    align-items: center;
}

.menu-dropdown a{
    flex-grow: 1;
}

.menu-dropdown i{
    text-align: right;
    color: white;
    cursor: pointer;
}

.sub-menu:hover,
.menu-dropdown.expand:hover{
    background: transparent !important;
}

.sub-menu{
    display: none;
}

.sub-menu ul li{
    margin-left: 20px;
    cursor: pointer;
}

.menu-dropdown.expand + .sub-menu{
    display: block;
}

body.page-no-arc .content-wrapper .content{
    position: relative;
}

body.page-no-arc .section {
    background-size: 100% auto;
    background-position: center;
}

body.open #menu-toggle {
    visibility: hidden;
}

body.open #headerSvg img {
    visibility: hidden;
}

#main-menu {
    background-color: transparent;
}

#main-menu hr {
    border-top: 1px solid #FFF;
}

/* Form Input */

.content form label{
    color: #FFFFFF;
    font-size: 12px;
}

.input-text>* {
    display: block;
}

.input-text,
.input-text input {
    width: 100%;
}

.input-text {
    padding: 10px 5px;
}

.input-text label {
    margin-bottom: 10px;
}

.input-text input {
    padding: 10px;
}

.input-textarea>* {
    display: block;
}

.input-textarea,
.input-textarea textarea {
    width: 100%;
}

.input-textarea {
    padding: 10px 5px;
}

.input-textarea label {
    margin-bottom: 10px;
}

.input-textarea textarea {
    padding: 10px;
}

.input-text input,
.input-textarea textarea {
    color: #FECC2E;
    background-color: #181818;
    border: 0px;
    border-bottom: 1px solid #999999;
}

.logo-container label {
    display: block;
    margin-bottom: 10px;
}

.logo {
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-bottom: 30px;
    cursor: pointer;
}

.logo img {
    display: none;
}

.logo span {
    font-size: 45px;
    color: white;
}

.button-primary,
.button-secondary
{
    margin: 30px 10px;
}

.button-primary button {
    width: 100%;
    padding: 10px 30px;
    background: #E50B00;
    border: 0;
    color: #FFF;
    border-radius: 5px;
    font-size: 17px
}

.button-secondary button {
    width: 100%;
    padding: 10px 30px;
    background: #F85405;
    border: 0;
    color: #FFF;
    border-radius: 5px;
    font-size: 17px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #FFF;
    cursor: pointer;
}

.input-error input {
    border-bottom: 1px solid #FF5951;
    color: #FF5951;
}

.err-msg {
    color: #FF5951;
    font-size: 12px;
    padding: 5px 0px;
}

/* Custom Marker */
.gm-style-iw {
    width: 350px !important;
    padding: 0px !important;
    /* 	top: 0px !important; */
    /* 	left: 0px !important; */
    background-color: #181818 !important;
    /* 	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6); */
    /* 	border: 1px solid rgba(72, 181, 233, 0.6); */
    /* 	border-radius: 2px 2px 10px 10px; */
}

.gm-style .gm-style-iw-t::after {
    background: #181818;
}

.gm-style-iw-d {
    overflow: hidden !important;
    max-height: unset !important;
}

#iw-container {
    /* 	margin-bottom: 10px; */
}

#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #FF7F06;
    color: #181818;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.map-marker-label {
    color: #d1d1d1;
    padding: 8px 15px;
    font-size: 12px;
}

/* Country - City Dropdown */
.country-city {
    margin: 8px -5px;
}

.country-city+.input-textarea {
    padding-left: 0;
    padding-right: 0;
}

#country,
#city {
    position: relative;
    background-color: #181818;
    border: 0px;
    border-bottom: 1px solid #999999;
    padding: 10px;
    font-size: 14px;
    margin: 0 5px;
}

#country>span,
#city>span {
    color: #696969;
}

#country,
#city {
    cursor: pointer;
}

#country.expanded #country-box,
#city.expanded #city-box {
    display: block;
}

.country-city-dropdown.selected .text {
    color: #FECC2E;
}

#country-box,
#city-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 1;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5px 0px;
}

#country-box:empty,
#city-box:empty {
    padding: 10px 8px;
}

#country-box:empty:before {
    content: "Loading...";
    font-size: 14px;
}

#city-box:empty:before {
    content: "Select Country";
    font-size: 14px;
}

#city-box.loading:before {
    content: "Loading...";
    font-size: 14px;
}

.country-item,
.city-item {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
}

.country-item:hover,
.city-item:hover {
    background: #FFE0C1;
}

/* Info */
.info {
    margin: 10px 0;
    padding: 10px;
}

.primary-info {
    background-color: #ffe0c1;
}

.primary-info>* {
    margin: 0 5px !important;
    color: #aa5b0f !important;
}

.primary-info>label span {
    background: #aa5b0f;
    color: #FFF;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 5px;
}

/* Checkbox */
.checkbox {
    width: 20px;
    height: 20px;
    background: #181818;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 5px;
}

.checkbox span {
    display: none;
    color: #FF7F06;
    font-size: 15px;
}

.checkbox+label {
    margin: 0 10px !important;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox input[type=checkbox]:checked+span {
    display: block;
}

/* Dropdown */
.dropdown {
    position: relative;
    background: #FFF;
    padding: 8px;
    cursor: pointer;
}

.dropdown .dropdown-item {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFF;
    max-height: 300px;
    overflow: auto;
    padding: 8px 0px;
}

.dropdown.expanded .dropdown-item {
    display: block;
}

.dropdown .dropdown-item li {
    display: block;
    white-space: nowrap;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown .expand-more {
    color: #7e7d7d;
}

.dropdown .dropdown-item li:hover {
    background-color: #FFE0C1;
}

/* Login  */
.login {
    background-image: linear-gradient(90deg, #FF7F06, #F6C80F);
}

.login img {
    margin-bottom: -90px !important;
    z-index: 1;
}

.login-form {
    background: #0b0c0e;
    padding: 20px 20px;
    padding-top: 120px;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
}

.login-form h1 {
    font-size: 20px;
}

.login-spinner {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-spinner span {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(90deg, #FF7F06, #F6C80F);
    border-radius: 50px;
    color: #0b0c0e;
    font-size: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.loader {
    position: absolute;
    top: -10px;
    left: -10px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #FF7F06;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.login-spinner+h1 {
    margin: 0;
    margin-top: 20px;
}

/* Icon */
.big-icon {
    width: 100px;
    height: 100px;
    border: 4px solid #FFF;
    border-radius: 50%;
    margin: 20px 0;
    background-image: linear-gradient(90deg, #FF7F06, #F6C80F);
}

.big-icon span {
    font-size: 40px;
    color: #0b0c0e;
}

/* Confirm Box */
.confirm-box {
    background-image: linear-gradient(120deg, #E50B00, #FF7F06, #F6C80F);
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 140px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.confirm-box img {
    max-width: 150px;
    margin-top: -120px;
}

.confirm-box h1 {
    font-size: 20px;
    color: #FFF;
    margin-top: 20px;
}

.confirm-box .text-light {
    font-size: 14px;
    padding: 5px;
    color: #23282F;
}

/* Menu Responsive */
@media screen and (max-width: 900px) {
    #main-menu {
        padding-top: 30px;
    }

    #headerSvg img {
        width: 45%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 800px) {
    #headerSvg {
        width: 70%;
    }
}

@media screen and (max-width: 580px) {
    #main-menu {
        padding-top: 10px;
    }

    #main-menu>a>img {
        width: 85%;
    }

    #headerSvg img {
        width: 50%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 425px) {
    #main-menu {
        padding-top: 10px;
    }

    #main-menu>a>img {
        width: 70%;
    }

    #headerSvg img {
        width: 55%;
        margin-bottom: 30px;
        margin-right: 30px;
    }
}


@media screen and (max-width: 768px) {
    #mainMenuContainer,
    #main-menu {
        /* width: 100%; */
    }

    #main-menu>a>img {
    }

    body.open .menu-button-container {
        /* margin-left: unset !important;
        width: 100%;
        top: 0px; */
    }

    body.open #menu-toggle {
        /* position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        color: transparent;
        border-radius: 20px;
        border: 0;
        background-color: rgba(0, 0, 0, 0.5); */
    }

    body.open #menu-toggle:after {
        font-family: 'Material Icons';
        content: "\e5cd";
        color: white;
        position: absolute;
        font-size: 18px;
    }

    body.page-no-arc .section{
        background-size: auto 100%;
    }
}

@media screen and (max-width:580px) {

    #country-box,
    #city-box,
    .dropdown-item {
        position: fixed !important;
        top: 0 !important;
        left: 0;
        width: 100%;
        max-height: unset !important;
        height: 100vh;
        height: 100%;
        padding-bottom: 70px;
        z-index: 1000;
    }

    #country-box:before,
    #city-box:before,
    .dropdown-item:before {
        bottom: 10px;
        left: calc(50% - 20px);
        font-family: 'Material Icons';
        content: "\e5cd";
        color: #FFF;
        position: fixed;
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #23282F;

    }
}

@media screen and (max-width: 425px) {
    form .form-responsive {
        display: block;
    }

    form .form-responsive .country-city {
        display: block !important;
    }

    form .form-responsive #country,
    form .form-responsive #city {
        margin: 15px 5px;
    }
}
